# Django / Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*
db.sqlite3

# Virtual env
venv/
env/

# IDE / OS files
*.idea/
.vscode/
*.DS_Store
*.migrations/

# Static files (optional)
staticfiles/
